{% extends "base.html" %}
{% load static %}

{% block title %}profile{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "styles.css" %}">
{% endblock styles %}


{% block content %}
<div class="container">
    <h1 class="display-6">Profile page</h1>
    {% if user.is_authenticated %}
        <p>hi, {{ user.username }}!</p>
        <a href="{% url 'users:password_change' %}">change password</a>
    {% else %}
        <a href="{% url 'users:login' %}">login</a> or <a href="{% url 'users:signup' %}">create new account</a>
    {% endif %}
    <p class="main-text">static 'styles.css' text</p>
</div>
{% endblock content %}